server:
  port: 8888
  ssl:
    key-store: classpath:keystore.p12
    key-store-type: PKCS12
    key-store-password: footprints
    enabled: true
    key-alias: footprints

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/simjaeseo/footprints-config.git
#          search-paths:
#            - configuration
          username: simjaeseo
          password: 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
          default-label: master
#        default-label: backend

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      enabled: true