.roomCard{
    width : 240px;
    height : 290px;
    
    flex-direction: column;

    // &_picture{
    //     width : 100%;
    //     height : 50%;
    //     object-fit: cover;
    // }
    img{
        width : 100%;
        height : 50%;
        object-fit: cover;
    }
    &_detail{
        margin-top : 10px;
        height : 30%;
        align-content: space-between;
        &_line1{
            width : 100%;
            height : 50px;
            margin-bottom: 20px;
            &_price{
                font-size : 100%;
                width : 50%;
                text-align : center;
            }

            &_shape{
                width : 50%;
                text-align : center;
            }
        }

        &_line2{
            height : 10%;
            width : 100%;
            margin-top : 20px;
            // display : inline-flex;
            // justify-content: space-between; 
            
            
            &_region{
                width : 40%;
                text-align : center;
                
            }

            &_floor{
                width : 25%;
                text-align : center;
            }

            &_area{
                width : 35%;
                text-align : center;
            }
        }

        &_line3{
            height : 10%;
            margin-top : 20px;

            &_adminCost{
                width : 50%;
                // text-align : center;
            }

            &_elevator{
                width : 50%;
                text-align : center;
                word-break: break-all;
            }
            // display : inline-flex;
            // justify-content: space-between; 
        }
    }
}