.roomCard {
  width: 260px;
  height: 260px;
  border-width: 3px 3px 1px 1px;
  border-style: solid;
  border-color: $GRAY-DB;
  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  &_detail {
    width: 100%;
    height: 84px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &_line1,
    &_line2,
    &_line3 {
      width: 90%;
    }
    &_line1 {
      justify-content: space-between;
    }
    &_line2,
    &_line3 {
      color: #8d8d8d;
    }
    &_line2 {
      &_region {
        margin-right: (24px);
      }
      &_floor {
        margin-right: (8px);
      }
    }
    &_line3 {
      &_adminCost {
        margin-right: (12px);
      }
    }
  }
  &_list {
    flex-direction: column;
  }
}
