.wrapper {
  justify-content: center;
}
#MainNavBar {
  .p-none {
    display: hidden;
  }
  width: 100%;
  height: (144px);
  align-items: center;
  color: $MAIN;
  // background-color: $MAIN;
  .container {
    height: 100%;
    &_inner {
      margin: 0 (40px) 0 (40px);
      align-items: center;
      height: 100%;
      justify-content: space-between;
    }
  }
}
.none_click {
  // box-shadow: 0 (1px) 0 rgba(181, 146, 146, 0.25);
  position: relative;
  top: 0;
}