.my_tool {
  position: absolute;

  width: (145px);
  background-color: $WHITE;
  border-radius: vw(12px);
  box-shadow: 2px 2px 20px rgba(77, 77, 77, 0.25);
  top: (85px);
  right: (100px);

  &_box {
    margin: (18px) (8px);
  }
  &_info,
  &_edit,
  &_about {
    color: $GRAY-67;
    padding-left: (12px);
    height: (33px);
    border-radius: (6px);
    &:hover {
      background-color: $GRAY-DB;
    }
  }
}
