.container {
  justify-content: center;
  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}
.home1 {
  width: vw(1170px);
  //   width: 100%;
  height: 100vh;
  &_title {
    color: $WHITE;
    margin-top: vw(205px);
  }

  &_sub {
    color: $WHITE;
    margin-top: vw(26px);
  }
}
.home2 {
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-image: url("../assets/images/extra/room.png");
  &_txt {
    width: vw(1170px);
    //   width: 100%;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    &_title {
      color: $WHITE;
      margin-top: vw(205px);
    }
    &_sub {
      color: $WHITE;
      margin-top: vw(26px);
    }
  }
}
.home3 {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-image: url("../assets/images/extra/negotiate.png");
}

.home4 {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-image: url("../assets/images/extra/move.png");
}
.home_back {
  width: 100%;
  height: 400vh;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center bottom;
  // background-image: url("../assets/images/main.jpeg");
  background-color: #8bc34a;
  flex-direction: column;
  align-items: center;
}
