.container {
  justify-content: center;
  // height: calc(100vh- (144px));
  // overflow-y: hidden;
}
.home {
  width: (1300px);
  //   width: 100%;
  height: 100%;
  &_title {
    color: #2c4b48;
    margin: (80px) 0 (80px) vw(20px);
    &_down {
      img {
        margin-left: (15px);
        width: (75px);
        height: (75px);
      }
    }
  }
  &_contents {
    justify-content: space-between;
    margin-bottom: (20px);
    &_box,
    &_ads {
      width: (600px);
      height: (540px);
    }
    &_box {
      border-radius: (20px);
      box-shadow: (5px) (5px) (10px) (-2px) rgba(0, 0, 0, 0.25);
      &_select {
        width: 100%;
        height: (90px);
        background-color: #ecf2ff;
        border-radius: (20px) (20px) 0 0;
        &_btn {
          align-items: center;
          width: (300px);
          height: (90px);
          border-radius: (20px) (20px) 0 0;
          color: #808080;
          &_sel {
            background-color: $WHITE;
            width: (300px);
            height: (90px);
            border-radius: (20px) (20px) 0 0;
            align-items: center;
            color: #2c4b48;
          }
        }
      }
      &_bot {
        flex-direction: column;
        align-items: center;
        &_title {
          margin-top: (80px);
          align-items: center;
          color: #2c4b48;
          img {
            margin-left: (12px);
            width: (48px);
            height: (48px);
          }
        }
        input {
          width: (480px);
          height: (80px);
          padding-left: (30px);
          background-color: #f5f5f5;
          color: #808080;
          border-radius: (20px);
          margin: (60px) 0 (30px) 0;
        }
        button {
          width: (480px);
          height: (80px);
          border-radius: (20px);
          color: $WHITE;
          background-color: #3a76ff;
        }
      }
    }
    &_ads {
      flex-direction: column;
      justify-content: space-between;
      &_top {
        background-color: #ecf2ff;
        border-radius: (20px);
        width: (600px);
        height: (250px);
        padding: (30px) (50px) (30px) (50px);
        &_title {
          width: (136px);
          height: (48px);
          align-items: center;
          color: #808080;
          background-color: $WHITE;
          border-radius: (12px);
        }
        &_cont {
          width: (500px);
          justify-content: space-between;
          &_txt {
            height: (140px);
            &_up {
              color: #2c4b48;
              margin: (12px) 0 (8px) 0;
            }
            &_down {
              color: #666c74;
            }
          }
          &_img {
            width: (210px);
            height: (140px);
            overflow: hidden;
            img {
              width: (100%);
              height: (100%);
              object-fit: cover;
            }
          }
        }
      }
      &_down {
        justify-content: space-between;
        &_left,
        &_right {
          width: (285px);
          height: (250px);
          border-radius: (20px);
          padding: (30px) (40px) (30px) (40px);
          &_title {
            width: (136px);
            height: (48px);
            align-items: center;
            color: #808080;
            background-color: $WHITE;
            border-radius: (12px);
            margin-bottom: (30px);
          }
        }
        &_left {
          background-color: #d9dde2;
          color: #2c4b48;
        }
        &_right {
          background-color: #3a76ff;
          color: $WHITE;
        }
      }
    }
  }
}
.home_back {
  width: 100%;
  // height: 100%;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center bottom;
  // background-image: url("../assets/images/main.jpeg");
  background-color: $WHITE;
  flex-direction: column;
  align-items: center;
}
