.roomList {
  margin-top: (5vh);
  flex-direction: column;
  // align-items: center;
  width: (1200px);
  &_title {
    color: #2c4b48;
  }
  &_optionTitle {
    color: #2c4b48;
    margin: (3vh) 0 (4px) (10px);
  }
  &_options {
    width: (100%);
    justify-content: space-between;
    margin-bottom: (10px);
    &_input {
      height: (56px);
      align-items: center;
      &_content {
        width: (500px);
        height: (52px);
        color: #2c4b48;
        background-color: $WHITE;
        border-radius: (8px);
        padding: 0 (50px) 0 (20px);
        border: 1px solid rgba(44, 75, 72, 0.5);
      }
      &_btn {
        margin-left: (-50px);
        height: (52px);
        width: (52px);
        color: #2c4b48;
        // background-color: #2c4b48;
        border-radius: (15px);
      }
    }
    &_btns {
      justify-content: space-between;
      align-items: center;
      width: (180px);
      height: (52px);
      color: #2c4b48;
    }
  }
  &_page {
    margin-top: (30px);
  }
}
