.roomDetail {
  flex-direction: column;
  align-items: center;
  &_photo {
    margin: (2vh) 0 (4vh) 0;
    width: (800px);
    height: (500px);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_contents {
    width: (1200px);
    align-items: center;
    flex-direction: column;
    &_upper {
      // padding-left: (450px);
      margin-top: (6px);
      color: #2c4b48;
      width: (800px);
      justify-content: space-between;
    }
    &_top {
      &_contract {
        color: #2c4b48;
        width: (400px);
        border: 1px solid rgba(219, 219, 219, 0.5);
        background-color: rgba(219, 219, 219, 0.25);
        border-radius: (12px);
        &_txt {
          // width: auto;
          margin-left: (12px);
        }
      }
      // margin: 0 (200px) 0 (200px);
      justify-content: space-between;
      align-items: flex-end;
      color: #2c4b48;
      width: (800px);
    }
    &_body {
      margin-top: (30px);
      &_detail {
        width: (600px);
        justify-content: center;
        margin: 0 (50px) 0 (100px);
        border-radius: (20px);
        // background-color: rgba(219, 219, 219, 0.25);
        &_info,
        &_plus {
          flex-direction: column;
          width: (300px);
          height: (320px);
          background-image: url("../../assets/images/extra/clipboard.svg");
          background-size: (320px);
          padding: (100px) (40px) (20px) (60px);
        }
      }
      &_map {
        width: (400px);
        height: (320px);
        justify-content: center;
        margin-right: (50px);
        border-radius: (20px);
        background-color: rgba(219, 219, 219, 0.25);
        align-items: center;
      }
    }
  }
}
