.container {
  justify-content: center;
}
.roomReg {
  width: vw(1020px);
  margin-top: (60px);
  flex-direction: column;
  align-items: center;
  &_option,
  &_loc,
  &_info,
  &_photo {
    width: 100%;
    // height: (312px);
    border: 1px solid $GRAY-DB;
    border-radius: (6px);
    flex-direction: column;
    margin-top: (60px);
    &_title {
      width: 100%;
      height: (72px);
      align-items: center;
    }
  }
  &_option {
    &_room,
    &_building,
    &_long,
    &_contract {
      height: (60px);
      border-top: 1px solid $GRAY-DB;
      &_title {
        height: 100%;
        width: vw(120px);
        align-items: center;
        background-color: rgba(219, 219, 219, 0.25);
        border-right: 1px solid $GRAY-DB;
      }
      &_boxes {
        width: vw(900px);
        align-items: center;
        padding: (6px) 0 (6px) (12px);
        color: $GRAY-88;
      }
    }
  }
  &_loc {
    &_address {
      border-top: 1px solid $GRAY-DB;
      height: (340px);
      &_title {
        height: 100%;
        width: vw(120px);
        align-items: center;
        background-color: rgba(219, 219, 219, 0.25);
        border-right: 1px solid $GRAY-DB;
      }
      &_boxes {
        height: 100%;
        width: vw(900px);
        padding: (20px);
        &_info {
          width: vw(480px);
          &_title {
            color: $GRAY-88;
          }
          &_search {
            margin: (12px) 0 (12px) 0;
            height: (47px);
            width: vw(480px);
            input {
              width: vw(330px);
              height: (47px);
              border: (1px) solid $GRAY-DB;
              color: $GRAY-40;
              padding-left: vw(8px);
              margin-right: vw(12px);
            }
            input:focus {
              border: (1px) solid $GRAY-88;
              box-shadow: 0 0 (2px) $GRAY-88;
            }
            Button {
              font-size: vw(20px);
            }
          }
          &_result {
            width: vw(480px);
            height: (72px);
            border: (1px) solid $GRAY-DB;
          }
          &_detail {
            width: vw(480px);
            height: (46px);
            // margin: (12px) 0 (8px) 0;
            margin-top: (12px);
            justify-content: space-between;
            &_dong,
            &_ho {
              width: vw(234px);
              &_txt {
                width: vw(44px);
                color: $GRAY-88;
                border: 1px solid $GRAY-DB;
                align-items: center;
              }
              input {
                width: vw(190px);
                height: (46px);
                border: 1px solid $GRAY-DB;
                color: $GRAY-40;
                padding-left: vw(6px);
              }
              input:focus {
                border: 1px solid $GRAY-88;
                box-shadow: 0 0 (2px) $GRAY-88;
              }
            }
          }
        }
        &_map {
          margin-left: (20px);
          width: vw(360px);
          background-color: $MAIN;
        }
      }
    }
  }
  &_info {
    &_con {
      &_left,
      &_right {
        width: vw(510px);
        flex-direction: column;
        &_top {
          height: (120px);
          &_boxes {
            flex-direction: column;
            width: vw(390px);
            &_up {
              border-bottom: 1px solid $GRAY-DB;
            }
            &_up,
            &_down {
              width: (100%);
              height: (60px);
              padding: (6px) 0 (6px) (12px);
              align-items: center;
              color: $GRAY-88;
            }
          }
        }
        &_mid,
        &_bot {
          height: (60px);
          &_boxes {
            width: vw(390px);
            padding: (6px) 0 (6px) (12px);
            align-items: center;
            color: $GRAY-88;
          }
        }
        &_top,
        &_mid,
        &_bot {
          border-top: 1px solid $GRAY-DB;
          &_title {
            width: vw(120px);
            height: (100%);
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(219, 219, 219, 0.25);
          }
        }
      }
    }
  }
  &_photo {
    &_con {
      height: (380px);
      border-top: 1px solid $GRAY-DB;
      align-items: center;
      &_box {
        width: vw(1000px);
        height: (360px);
        background-color: rgba(219, 219, 219, 0.25);
        align-items: center;
        flex-direction: column;
        &_title {
          color: $GRAY-88;
          margin: (12px) 0 (8px) 0;
        }
        Button {
          font-size: vw(20px);
        }
      }
    }
  }
  &_btns {
    width: vw(320px);
    justify-content: space-between;
    margin: (40px) 0 (20px) 0;
    flex-direction: row;
    Button {
      font-size: vw(26px);
    }
  }
}
