.roomRegister {
  margin-top: (10vh);
  flex-direction: column;
  align-items: center;
  color: #3061D1;
  &_title {
    margin-top: (12px);
    align-items: center;
    color: #2C4B48;
    img {
      margin-left: (12px);
      width: (56px);
      height: (56px);
    }
  }
  &_box {
    margin-top: (60px);
    width: (660px);
    height: (600px);
    // background-color: #ECF2FF;
    border-radius: (30px);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    align-items: center;
    &_p1, &_p2, &_p3 {
      width: (400px);
      height: (520px);
    }
    &_p1 {
      &_address, &_type, &_term {
        margin-top: (40px);
      }
      &_address {
        // margin-top: (20px);
        &_input {
          justify-content: space-between;
          input {
            color: #2C4B48;
            margin-top: (4px);
            width: (192px);
            height: (40px);
            border-bottom: 1px solid rgba(48, 97, 209, 0.5);
          }
          input:focus {
            box-shadow: 0 (2px) 0 rgba(48, 97, 209, 0.2);
          }
        }
      }
      &_type {
        &_btns {
          margin-top: (6px);
          width: (240px);
          justify-content: space-between;
          color: #2C4B48;
          button {
            width: (108px);
            height: (40px);
            border-radius: (10px);
            border: 1px solid rgba(48, 97, 209, 0.5);
          }
          &_btn_strong {
            color: $WHITE;
            background-color: #3061D1;
          }
        }
      }
      &_term {
        &_title {
          &_condition {
            margin-left: (50px);
            color: rgba(44, 75, 72, 0.75);
          }
        }
        &_calender {
          margin-top: (6px);
          &_cal {
            width: (130px);
            border: 1px solid rgba(44, 75, 72, 0.75);
          }
        }
      }
    }
    &_p2 {
      &_cont, &_room, &_floor {
        margin-top: (40px);
      }
      &_cont {
        &_btns {
          margin: (6px) 0 (10px) 0;
          width: (400px);
          color: #2C4B48;
          align-items: center;
          button {
            width: (80px);
            height: (40px);
            border-radius: (10px);
            border: 1px solid rgba(48, 97, 209, 0.5);
            margin-right: (16px);
          }
          &_btn_strong {
            color: $WHITE;
            background-color: #3061D1;
          }
          &_fee {
            &_input {
              width: (30px);
              border-bottom: 1px solid rgba(48, 97, 209, 0.5);
            }
          }
        }
        &_inp {
          &_input {
            width: (60px);
            border-bottom: 1px solid rgba(48, 97, 209, 0.5);
          }
          &_conw {
            &_input {
              width: (40px);
              border-bottom: 1px solid rgba(48, 97, 209, 0.5);
            }
          }
        }
      }
      &_room {
        &_opt, &_area {
          width: (200px);
        }
        &_area {
          &_input {
            margin-top: (16px);
            color: #2C4B48;
            width: (80px);
            height: (40px);
            border-bottom: 1px solid rgba(48, 97, 209, 0.5);
          }
        }
      }
      &_floor {
        &_ele {
          margin: (10px) 0 (6px) 0;
          color: #2C4B48;
        }
        &_inps {
          input {
            width: (32px);
            // height: (40px);
            border-bottom: 1px solid rgba(48, 97, 209, 0.5);
          }
        }
      }
    }
    &_p3 {
      &_extra, &_photo {
        margin-top: (40px);
      }
      &_extra {
        &_box {
          margin-top: (8px);
          width: (400px);
          height: (140px);
          color: #2C4B48;
          border: 1px solid rgba(44, 75, 72, 0.75);
          border-radius: (12px);
          resize: none;
          padding: (10px);
          &:focus {
            outline: none;
          }
        }
      }
      &_photo {
        &_con {
          margin-top: (8px);
          &_imginput {
            display: none;
          }
          &_img {
            width: (84px);
            height: (80px);
            overflow: hidden;
          }
        }
      }
    }
    &_btn {
      width: (160px);
    }
  }
}