.container {
  height: calc(100vh - (100px));
}
// .divide {
//   width: (300px);
//   height: (1px);
//   background-color: $GRAY-DB;
// }
.trsList {
  flex-direction: row;
  //   height: calc(100vh - (100px));
  &_map {
    align-items: center;
    // width: calc(100vw - (300px));
    &_title {
      // width: 100%;
    }
  }
  &_detail {
    .divide {
      width: 96%;
      background-color: $GRAY-DB;
      height: (1px);
      margin: (4px) 0 (8px) 0;
    }
    flex-direction: column;
    width: (300px);
    &_search {
      // flex-direction: row;
      align-items: center;
      width: 100%;
      height: (64px);
      &_box {
        width: (132px);
      }
      &_btn {
        &_space {
          height: (12px);
        }
      }
      &_select {
        &_space {
          height: (8px);
        }
      }
    }
  }
}
