// colors

// main colors
$BLACK: #000000;
$WHITE: #ffffff;
$MAIN: #8bc34a;

// social colors
$KAKAO-YELLOW: #ffeb00;
$KAKAO-BROWN: #3c1e1e;
$NAVER: #03c75a;

// alert colors
$RED: #ff6060;
$BLUE: #0038ff;

// GRAY
$GRAY-DB: #dbdbdb; // box border, btn border,
$GRAY-76: #767676; // nav login text,
$GRAY-61: #616161; // nav menu text
$GRAY-67: #676767; //
$GRAY-BF: #bfbfbf; //
$GRAY-F3: #f3f3f3; //
$GRAY-E4: #e4e4e4; //
$GRAY-4A: #4a4a4a; // text
$GRAY-40: #404040; // text dark
$GRAY-ED: #ededed;
$GRAY-679: #f6f7f9;
$GRAY-AD: #adadad;
